nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo>h1 {
    font-family: sans-serif;
    color: rgb(99, 99, 166);
}

.logo-image {
    height: 50px;

}

.login-button {
    background-color: hsl(221.2 83.2% 53.3%);
    border: none;
    padding: 10px 15px;
    color: white;
    border-radius: 10px;
    cursor: pointer;

}
.container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.product {
  
     width: 20%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.product-image {
    height: 200px;
    width: 200px;
}